<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
        <link rel="shortcut icon" type="image/x-icon" href="{{context}}/images/favicon.ico">
        <link rel="shortcut icon" type="image/png" href="{{context}}/images/favicon-16.png" sizes="16x16">
        <link rel="shortcut icon" type="image/png" href="{{context}}/images/favicon-24.png" sizes="24x24">
        <link rel="shortcut icon" type="image/png" href="{{context}}/images/favicon-32.png" sizes="32x32">
        <link rel="shortcut icon" type="image/png" href="{{context}}/images/favicon-64.png" sizes="64x64">

        <title>{{title}}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Oswald:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{context}}/css/theme.css">
        <style>
            body {
                --pb-serif-font-family: "Cardo", Georgia, "Times New Roman", serif;
            }
        </style>
        {% block styles %}{% endblock %}
        <script defer src="https://unpkg.com/@webcomponents/webcomponentsjs@2.4.3/webcomponents-loader.js"></script>
        <script defer src="https://unpkg.com/web-animations-js@2.3.2/web-animations-next-lite.min.js"></script>
        {% if components == 'dev' %}
        <script type="module" src="{{cdn}}/src/pb-components-bundle.js"></script>
        {% else %}
        <script type="module" src="{{cdn}}@{{components}}/dist/pb-components-bundle.js"></script>
        {% endif %}
        {% block scripts %}{% endblock scripts %}
    </head>
    <body>
        <pb-page api-version="1.0.0" unresolved="unresolved">
            {% block document %}
            <pb-document id="document1" path="{{doc}}" view="{{view}}" odd="{{odd}}"></pb-document>
            {% endblock document %}
            <app-header-layout>
                <app-header slot="header" reveals="reveals" fixed="fixed" effects="waterfall">
                    <app-toolbar class="menubar" sticky="sticky">
                        <a href="{{context}}/index.html" class="logo"></a>
                        <pb-media-query query="min-width: 1024px">
                            <a href="{{context}}/index.html">Start</a>
                            <paper-menu-button>
                                <a href="#" slot="dropdown-trigger">
                                    <pb-i18n key="menu.documentation">Documentation</pb-i18n>
                                </a>
                                <paper-listbox slot="dropdown-content">
                                    <paper-item>
                                        <a href="{{context}}/doc/documentation.xml">
                                            <pb-i18n key="menu.documentation">Documentation</pb-i18n>
                                        </a>
                                    </paper-item>
                                    <paper-item>
                                        <a href="https://faq.teipublisher.com/">FAQ</a>
                                    </paper-item>
                                    <paper-item>
                                        <a href="https://unpkg.com/@teipublisher/pb-components@latest/dist/api.html" target="_blank">Webcomponents API</a>
                                    </paper-item>
                                    <paper-item>
                                        <a href="{{context}}/api.html" target="_blank">TEI Publisher API</a>
                                    </paper-item>
                                </paper-listbox>
                            </paper-menu-button>
                        </pb-media-query>
                        <pb-media-query query="min-width: 1024px">
                            <!-- language selector -->
                            <pb-lang name="lang">
                                {% for key, value in languages | dictsort %}
                                <paper-item value="{{key}}">{{value}}</paper-item>
                                {% endfor %}
                            </pb-lang>
                         </pb-media-query>
                    </app-toolbar>
                    <app-toolbar class="toolbar" sticky="sticky">
                        <paper-icon-button id="tocToggle" class="toc-toggle" icon="icons:view-list"></paper-icon-button>
                        <a id="toolbar-parent" href="{{context}}?collection={{collection}}">
                            <paper-icon-button icon="icons:folder-open"></paper-icon-button>
                        </a>
                        {% block toolbar_start %}{% endblock %}
                        <pb-zoom emit="transcription" direction="in" icon="icons:zoom-in"></pb-zoom>
                        <pb-zoom emit="transcription" direction="out" icon="icons:zoom-out"></pb-zoom>
                        <pb-navigation emit="transcription" keyboard="left"
                            subscribe="transcription" direction="backward" unit="page">
                            <paper-icon-button icon="icons:chevron-left"></paper-icon-button>
                        </pb-navigation>
                        <pb-navigation emit="transcription" keyboard="right"
                            subscribe="transcription" direction="forward" unit="page">
                            <paper-icon-button icon="icons:chevron-right"></paper-icon-button>
                        </pb-navigation>
                        <pb-progress subscribe="transcription" indeterminate="indeterminate" bottom-item="bottom-item"></pb-progress>
                    </app-toolbar>
                </app-header>
                {% block content %}{% endblock %}
            </app-header-layout>
        </pb-page>
        <div class="splash"></div>
    </body>
</html>