{% extends 'base.html' %}
{% block styles %}
<link rel="stylesheet" href="documentation.css"></link>
{% endblock styles %}
{% block content %}
<main>
    <pb-drawer class="toc" toggle="tocToggle" emit="toc" subscribe="transcription" max-width="1024px">
        <pb-load url="toc.html" expand="expand" src="document1" auto="auto" emit="toc" static><pb-i18n key="dialogs.loading">Loading</pb-i18n></pb-load>
    </pb-drawer>
    <pb-view class="breadcrumbs" src="document1" subscribe="transcription" static>
        <pb-param name="mode" value="breadcrumbs"></pb-param>
    </pb-view>
    <pb-view id="view1" src="document1" load-css="../../css/docbook.css"
        column-separator=".tei-cb" append-footnotes="append-footnotes"
        subscribe="transcription" emit="transcription"
        static></pb-view>
    <footer>
        <!-- Navigate to next page -->
        <pb-navigation direction="forward" keyboard="right" emit="transcription" subscribe="transcription">
            <paper-button>
                <iron-icon icon="icons:chevron-right"></iron-icon>
            </paper-button>
        </pb-navigation>
        <!-- Navigate to previous page -->
        <pb-navigation direction="backward" keyboard="left" emit="transcription" subscribe="transcription">
            <paper-button>
                <iron-icon icon="icons:chevron-left"></iron-icon>
            </paper-button>
        </pb-navigation>
    </footer>
</main>
{% endblock content %}