{% extends 'base.html' %}
{% block styles %}
<style>
    body {
        --pb-view-height: calc(100vh - 212px);
    }

    #view1 {
        flex: 1 1;
        height: var(--pb-view-height);
        overflow: auto;
    }

    .content-body {
        position: relative;
        display: flex;
        justify-content: center;
        padding: 0 20px;
    }

    .content-body pb-facsimile {
        flex: 1 1;
        --pb-facsimile-height: var(--pb-view-height);
    }

    @media (max-width: 769px) {
        pb-facsimile {
            display: none;
        }
    }
</style>
{% endblock styles %}

{% block content %}
    {% include 'toc.html' %}
    <section class="breadcrumbs">
        <pb-view id="title-view1" src="document1" xpath="//teiHeader/fileDesc/titleStmt" view="single" static="{{context}}">
            <pb-param name="mode" value="title"/>
        </pb-view>
    </section>
    <main class="content-body">
        <pb-view id="view1" src="document1"
            {% if xpath %}
            xpath="{{xpath}}"
            {% endif %}
            subscribe="transcription" emit="transcription"
            column-separator=".tei-cb"
            wait-for="toc" static="{{context}}"></pb-view>
        <pb-facsimile id="facsimile" base-uri="https://apps.existsolutions.com/cantaloupe/iiif/2/"
            default-zoom-level="0" show-navigation-control="show-navigation-control"
            show-navigator="show-navigator"
            subscribe="transcription" />
    </main>
{% endblock content %}