{# Base template for TEI Guidelines: https://github.com/eeditiones/tei-guidelines #}
<!DOCTYPE html>
<html>
    <head>
        {% block head %}{% endblock head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
        <link rel="shortcut icon" type="image/x-icon" href="{{context}}/images/favicon.ico">
        <link rel="shortcut icon" type="image/png" href="{{context}}/images/favicon-16.png" sizes="16x16">
        <link rel="shortcut icon" type="image/png" href="{{context}}/images/favicon-24.png" sizes="24x24">
        <link rel="shortcut icon" type="image/png" href="{{context}}/images/favicon-32.png" sizes="32x32">
        <link rel="shortcut icon" type="image/png" href="{{context}}/images/favicon-64.png" sizes="64x64">

        <title>{{title}}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{context}}/css/theme.css">
        <link rel="stylesheet" href="{{context}}/css/guidelines.css">

        {% block styles %}{% endblock %}
        <script defer src="https://unpkg.com/@webcomponents/webcomponentsjs@2.4.3/webcomponents-loader.js"></script>
        <script defer src="https://unpkg.com/web-animations-js@2.3.2/web-animations-next-lite.min.js"></script>
        {% if components == 'dev' %}
        <script type="module" src="{{cdn}}/src/pb-components-bundle.js"></script>
        {% else %}
        <script type="module" src="{{cdn}}@{{components}}/dist/pb-components-bundle.js"></script>
        {% endif %}
        <script src="{{context}}/scripts/app.js"></script>
        {% block scripts %}{% endblock scripts %}
    </head>
    <body>
        <pb-page api-version="1.0.0" unresolved="unresolved" app-root="{{context}}">
            {% block document %}
            <pb-document id="document1" path="{{doc}}" view="{{view}}" odd="{{odd}}"></pb-document>
            {% endblock document %}
            <app-drawer-layout force-narrow="force-narrow">
                <app-drawer slot="drawer" align="right">
                    <div class="drawer-content">
                        <pb-media-query query="(max-width: 1023px)">
                            {% block drawer %}{% endblock drawer %}
                            <paper-listbox>
                                <paper-item>
                                    <a href="https://tei-c.org/guidelines/p5/using-the-tei-github-repository/">Getting and Using the TEI Sources</a>
                                </paper-item>
                                <paper-item>
                                    <a href="https://github.com/TEIC/TEI">TEI GitHub Repository</a>
                                </paper-item>
                                <paper-item>
                                    <a href="https://github.com/TEIC/TEI/issues" target="_blank">Report an issue</a>
                                </paper-item>
                            </paper-listbox>
                            <!-- language selector -->
                            <pb-lang name="lang">
                                {% for key, value in languages | dictsort %}
                                <paper-item value="{{key}}">{{value}}</paper-item>
                                {% endfor %}
                            </pb-lang>
                        </pb-media-query>
                    </div>
                </app-drawer>
                <app-header-layout>
                    <app-header slot="header" reveals="reveals" fixed="fixed" effects="waterfall">
                        <app-toolbar class="menubar">
                            <a href="{{context}}/index.html" class="logo"></a>
                            <pb-media-query query="min-width: 1024px">
                                <a href="{{context}}/index.html">Start</a>
                                <a href="https://tei-c.org/guidelines/p5/using-the-tei-github-repository/">Getting and Using the TEI Sources</a>
                                <a href="https://github.com/TEIC/TEI" target="_blank" title="TEI GitHub Repository"><img src="{{context}}/images/GitHub-Mark-Light-64px.png" class="github"/></a>
                                <a href="https://github.com/TEIC/TEI/issues" target="_blank">Report an issue</a>
                            </pb-media-query>
                            {% block menubar %}{% endblock menubar %}
                            <pb-search id="query" label="Search" action="{{context}}/search" disable-autocomplete redirect></pb-search>
                            <pb-media-query query="min-width: 1024px">
                                <!-- language selector -->
                                <pb-lang name="lang">
                                    {% for key, value in languages | dictsort %}
                                    <paper-item value="{{key}}">{{value}}</paper-item>
                                    {% endfor %}
                                </pb-lang>
                            </pb-media-query>
                        </app-toolbar>
                        <app-toolbar class="toolbar" sticky>
                            <paper-icon-button id="tocToggle" class="toc-toggle" icon="icons:view-list"></paper-icon-button>
                            {% block toolbar_start %}{% endblock %}
                            <pb-zoom emit="transcription" direction="in" icon="icons:zoom-in"></pb-zoom>
                            <pb-zoom emit="transcription" direction="out" icon="icons:zoom-out"></pb-zoom>
                            <pb-navigation emit="transcription" keyboard="left"
                                subscribe="guide" direction="backward" unit="page">
                                <paper-icon-button icon="icons:chevron-left"></paper-icon-button>
                            </pb-navigation>
                            <pb-navigation emit="transcription" keyboard="right"
                                subscribe="guide" direction="forward" unit="page">
                                <paper-icon-button icon="icons:chevron-right"></paper-icon-button>
                            </pb-navigation>
                            <pb-media-query query="max-width: 1023px">
                                <paper-icon-button icon="icons:menu" drawer-toggle="drawer-toggle"/>
                            </pb-media-query>
                            <pb-progress subscribe="guide" indeterminate="indeterminate" bottom-item="bottom-item"></pb-progress>
                        </app-toolbar>
                    </app-header>
                    {% block content %}{% endblock %}
                </app-header-layout>
            </app-drawer-layout>
        </pb-page>
        <div class="splash"></div>
        <script>
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register('{{context}}/sw.js');
            }
        </script>
    </body>
</html>