<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald&amp;display=swap">
<link rel="stylesheet" href="/css/theme.css">
<link rel="stylesheet" href="/css/{{odd}}.css">
<script defer src="https://unpkg.com/@webcomponents/webcomponentsjs@2.4.3/webcomponents-loader.js"></script>
<script defer src="https://unpkg.com/web-animations-js@2.3.2/web-animations-next-lite.min.js"></script>
<script type="module" src="https://unpkg.com/@teipublisher/pb-components@{{components}}/dist/pb-components-bundle.js"></script>