{% extends 'base.html' %}

{% block styles %}
<style>
    main {
        max-width: 41.24rem;
        margin: 0 auto;
    }

    .parent-link iron-icon {
        padding-right: 4px;
    }

    .parent-link {
        display: block;
        margin-bottom: 10px;
        padding: 6px 0;
    }

    .collection {
        margin-top: 8px;
        padding-top: 12px;
        border-top: thin solid var(--paper-grey-300);
    }
    
    .documents {
        list-style: none;
    }

    .documents a,
    .documents a:visited {
        color: #303F9F;
        text-decoration: none;
    }
    
    .documents li {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        padding: 6px 0;
        border-bottom: thin solid var(--paper-grey-300);
    }
    
    .documents li:last-child {
        border: none;
    }

    .documents img, .documents svg {
        margin-right: 40px;
    }

    @media (max-width: 1023px) {
        .documents img, .documents svg  {
            display: none;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--pb-base-font-family);
        font-weight: 400 !important;
        line-height: 1.2;
    }
    
    h5 {
        font-size: 16px;
        margin: 0;
    }

    .toc-toggle, pb-navigation {
        display: none;
    }
</style> 
{% endblock styles %}

{% block content %}
<main>
    <pb-browse-docs id="document-list" class="noscroll" static auto>
        <pb-paginate slot="toolbar" id="paginate" per-page="10" range="5"></pb-paginate>
    </pb-browse-docs>
</main>
{% endblock content %}