<app-toolbar class="toolbar" sticky="sticky">
    <a id="toolbar-parent" href="/?collection={{collection}}">
        <paper-icon-button icon="icons:folder-open"></paper-icon-button>
    </a>
    <pb-zoom emit="transcription" direction="in" icon="icons:zoom-in"></pb-zoom>
    <pb-zoom emit="transcription" direction="out" icon="icons:zoom-out"></pb-zoom>
    <pb-navigation emit="transcription" keyboard="left"
        subscribe="transcription" direction="backward" unit="page">
        <paper-icon-button icon="icons:chevron-left"></paper-icon-button>
    </pb-navigation>
    <pb-navigation emit="transcription" keyboard="right"
        subscribe="transcription" direction="forward" unit="page">
        <paper-icon-button icon="icons:chevron-right"></paper-icon-button>
    </pb-navigation>
    <pb-progress subscribe="transcription" indeterminate="indeterminate" bottom-item="bottom-item"></pb-progress>
</app-toolbar>