{% extends 'base.html' %}
{% block styles %}
<style>
    .toolbar pb-navigation {
        display: none;
    }

    .content-body {
        position: relative;
        display: flex;
        justify-content: center;
    }

    .toc-toggle {
        display: none;
    }
</style>
{% endblock styles %}

{% block content %}
<section class="breadcrumbs">
    <pb-view id="title-view1" src="document1" xpath="//teiHeader" view="single" static>
        <pb-param name="header" value="letter"></pb-param>
    </pb-view>
</section>
<main class="content-body">
    <pb-view id="view1" src="document1"
        xpath="! (.//text[@xml:lang = 'la']/body | .//text/body)[1]"
        column-separator=".tei-cb" append-footnotes="append-footnotes"
        subscribe="transcription" emit="transcription" static></pb-view>
    <pb-view id="view2" src="document1"
        xpath="//text[@xml:lang='pl']/body" subscribe="transcription"
        column-separator=".tei-cb" append-footnotes="append-footnotes" static></pb-view>
</main>
{% endblock content %}